.caption1 {
  font-size: 50px;
  width: 50%;
  text-align: center;

  position: relative;
  top: 50%;
  left: 40%;

  color: rgb(188, 183, 183);

  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.sticky-caption {
  position: sticky;
  top: 5;
}
